@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

body {
  font-family: "Jeju Myeongjo", serif;
}


/* this is for the nav bar component */

nav {
  @apply text-primary
    mb-3
    flex
    items-center
    justify-between;
}

.nav-logo {
  @apply flex
    items-center
    justify-center;
}

.nav-logo img {
  @apply xs:w-10
    xs:h-8
    h-11
    w-14;
}

.nav-search-bar {
  height: 38px;
  @apply border-primary
    xs:pl-1
    xs:pt-0.5
    xs:h-8
    flex
    h-10
    w-[54%]
    flex-col
    items-start
    gap-4
    rounded-sm
    border-[1px]
    pb-1
    pl-2
    pt-1
    sm:w-3/5
    lg:w-2/3;
}

.search-list {
  @apply norm:h-[500px]
  xs:h-64
  mt-12
  h-96
  overflow-y-auto
  border-[1px];
}

.search-list::-webkit-scrollbar {
  display: none;
}

.search-img {
  @apply norm:w-20
  w-10
  rounded-md
  md:w-14;
}

.search-list a:last-child {
  border: none;
  @apply p-0;
}

.search-list a {
  border-bottom: 1px solid;
  @apply border-b-primary;
}

.search-list div {
  @apply xs:text-[7px]
    text-[9px]
    sm:text-[12px]
    md:text-lg
    lg:text-xl;
}

.nav-search {
  @apply flex
    w-11/12
    items-center
    gap-1;
}

.nav-search img {
  @apply xs:w-7
    xs:h-7
    h-8
    w-8;
}

.nav-search-bar input {
  @apply xs:text-sm
    bg-background
    w-11/12
    focus:outline-none
    md:text-lg
    lg:text-xl
    xl:text-2xl;
}

.nav-user {
  @apply norm:w-[13%]
    bg-primary
    xs:h-9
    flex
    h-12
    w-[18%]
    items-center
    justify-center
    gap-1
    text-nowrap
    rounded-md
    text-black;
}

.nav-prof {
  width: 35px;
  height: 35px;
}


/* book page component */
